<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nodes</key>
	<array>
		<string>game/gui.rpy</string>
		<string>game/options.rpy</string>
		<string>game/screens.rpy</string>
		<string>game/script.rpy</string>
	</array>
	<key>Project</key>
	<dict/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>org.renpy.xcode.rencode</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Builds a visual novel project using the Ren&apos;Py SDK.</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>buildToolPath</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Ren&apos;Py Location:</string>
			<key>Description</key>
			<string>The path to the Ren&apos;Py SDK</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>/Applications/renpy-sdk/renpy.sh</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>game/script.rpy</key>
		<dict>
			<key>Group</key>
			<string>Scripts</string>
			<key>Path</key>
			<string>game/script.rpy</string>
		</dict>
		<key>game/screens.rpy</key>
		<dict>
			<key>Group</key>
			<string>Interfaces</string>
			<key>Path</key>
			<string>game/screens.rpy</string>
		</dict>
		<key>game/options.rpy</key>
		<dict>
			<key>Group</key>
			<string>Configurations</string>
			<key>Path</key>
			<string>game/options.rpy</string>
		</dict>
		<key>game/gui.rpy</key>
		<dict>
			<key>Group</key>
			<string>Interfaces</string>
			<key>Path</key>
			<string>game/gui.rpy</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaLegacyTarget</string>
			<key>BuildToolPath</key>
			<string>___VARIABLE_buildToolPath___</string>
			<key>BuildToolArgsString</key>
			<string>$(SRCROOT)/game lint</string>
			<key>SharedSettings</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string></string>
				<key>OTHER_LDFLAGS</key>
				<string></string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_GENERATE_DEBUGGING_SYMBOLS</key>
					<string>YES</string>
					<key>GCC_OPTIMIZATION_LEVEL</key>
					<string>0</string>
					<key>DEBUG_INFORMATION_FORMAT</key>
					<string>dwarf</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>DEBUG_INFORMATION_FORMAT</key>
					<string>dwarf-with-dsym</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
